@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Neonderthaw&family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: url('Scene-20.jpg'); */
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078);
    background-size: 500% 200%;
    background-repeat: no-repeat;
    color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 
}
.temprature-container{
    /* border: 1px solid ; */
    padding: 1em 3em;
    margin: 1em 1em;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    
}

.timezone{
    margin: 3em 0em 2em 0em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
.temp{
    font-size: 6em;
    font-family: 'Neonderthaw', cursive;
    
}
.temptrature,.wind,.wind-speed{
    display: flex;
    
}
.temp-unit{
    margin-top: 1.5em;
    font-family: 'Noto Sans JP', cursive;
}
.weather-condition,.wind,.wind-speed{
    font-family:'Noto Sans JP', cursive;
    font-weight: 500;
    text-align: center;
}
.wind-ctn{
    display: flex;
    justify-content: space-around;
    margin: 2em 0em 4em 0em;
}

.future-forecast li{
    display: flex;
    padding: 1em 2em;
    justify-content: space-between;
    width: 100%;
    font-family:'Noto Sans JP', cursive ;
}
.weather-icon{
    text-align: center;
}
ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
ul li div{
    display: flex;
}