@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Neonderthaw&family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    color: #ffffff;
    
}

.container{
    background: url('Lake/Lake-sunset/Lake-sunset.png'); 
    background-size: 150% 85%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 20em;
    
    
 
}
.temprature-container{
    /* border: 1px solid ; */
    display: flex;
    justify-content: space-between;
    
    margin: 0.5em 0.5em;
    border-radius: 5px;
    
    
}

.timezone{
    margin: 0.5em 0em 1em 0.5em;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 600;
    font-size: 2em;
    justify-items: flex-start;
    
}
.temp{
    font-size: 8em;
    font-family: 'Neonderthaw', cursive;
    margin-top: -0.25em;
    
}
.temptrature,.wind,.wind-speed{
    display: flex;
    
}
.temp-unit{
    margin-top: 1.5em;
    font-family: 'Noto Sans JP', cursive;
}
.weather-condition,.wind,.wind-speed{
    font-family:'Noto Sans JP', cursive;
    font-weight: 500;
    text-align: center;
}
.wind-ctn{
    display: flex;
    justify-content: space-around;
    margin: -15em 0em 0em 0em;
    flex-direction: column;
    background-color: #9797A1;
    padding: 1em 0em 0em 0em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}

.future-forecast li{
    display: flex;
    padding: 1em 2em;
    justify-content: space-between;
    width: 100%;
    font-family:'Noto Sans JP', cursive ;
}
.weather-icon{
    text-align: center;
}
.forecast ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    
    
}
ul li div{
    display: flex;
}

.forecast{
    display: none;
}


.wth{
    margin: 0.2em 0em 0.2em 0.5em;
    font-size: 1.5em;
    font-family:'Noto Sans JP', cursive ;
}


.weather-now{
    display: flex;
    justify-content: space-between;
    padding: 1em 0em 0em 0em;
    margin: 0em 0.5em  0em 0.5em;
    padding: 1em 0em;
    
}

.w-temp,.w-humidity,.w-uvi,.w-wind{
font-family:'Noto Sans JP', cursive ;
align-content:space-between ;
display: flex;
flex-direction: row;
font-size: 1em;
margin: 0em 0.5em 0em 0.5em;
}
.w-humidity,.w-uvi{
    margin-top: 1.5em;
}

.icon{
    background-color: #B1BAAE;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 3em;
    border-radius: 50%;
}

.selections{
  background-color: #9797A1 ;
  color: black;
  margin-top: 1em;
  margin-bottom: 14em;
  
}

.selections ul{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 2em 0em 5em 1em;
  font-family:'Noto Sans JP', cursive;
    font-weight: 500;
    color: #ffffff;
  
}

.selections ul li{
    list-style: none;
    
}

